@media only screen and (max-width: 600px) {
    
    body{
    }
    nav{
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        

    }
    .influencer-intro{
        display: flex;
        flex-direction: column-reverse;
       
        
        
    }

   .products{
       display: grid;
       grid-template-columns: repeat(1,1fr);
   }
   
   } 

   
     
   
  